body {
	background: black;
	overflow: hidden;
}

#c {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

#v {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -100%;
	left: 0;
}
#slider {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.slide {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.slide canvas {
	width: 100%;
	height: 100%;
}
.slide video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: -100%;
	left: 0;
}
.slide.active {
	z-index: 10;
}

.prev, .next {
	position: absolute;
	top: 50%;
	margin-top: -70px;
	width: 140px;
	height: 140px;
	background: orange;
	cursor: pointer;
	border-radius: 50%;
	z-index: 100;
}
.prev {
	left: 50px;
}
.next {
	right: 50px;
}